*{
    /* margin: 10px; */
    /* margin Platz zwischen Rand und Element */
    /* margin: 10px; */
    /* Raum zwischen Border und Element*/
    padding: 10px;
    /* Seitenhintergrund  */
    /* background: rgba(194, 189, 189, 0.795);*/  
    
}

h1 {
    background-color: blue;
    color: yellow;    /* gelbe Schrift auf blauen Grund */
    /* H1 Überschrift    */
    font-size: 20px;
    text-align: center; 
   /* margin-bottom: 15px;   unten */
   /* margin-top: 15px;      oben */
   /* margin-left: 40px;    links */
    /*margin-right:40px;    rechts */
    margin: 0px 0px 0px 0px; /* o r u l */ 
   /* border: 5px outset yellow;  /* Rand Kante */
    border-style: double; 
}   

h2 {
    /* H2 Überschrift  weiß  */
    /* margin-bottom: 30px; */
    margin: 0px 0px 0px 0px; /* o r u l */
    /*background-color: white;*/
    color: rgb(31, 19, 44);
    font-size: 20px;
    text-align: center; 
    
}
h3 {
    /* H3 Überschrift    */
    /* margin-bottom: 16px; */
    margin: 0px 0px 0px 0px; /* o r u l */ 
    background-color: yellow;
    color: black;
    font-size: 16px;
}
h4 {
    /* H4 Überschrift    */
    /* margin-bottom: 16px; */
    margin: 0px 0px 0px 0px; /* o r u l */ 
    background-color: yellow;
    color: black;
    font-size: 14px;
}
h5 {
    /* H5 Überschrift    */
    /* margin-bottom: 30px; */
    margin: 0px 0px 0px 0px; /* o r u l */ 
    background-color: yellow;
    color: black;
    font-size: 12px;
}
h6 {
    /* H6 Überschrift    */
    /* margin-bottom: 30px; */
    margin: 0px 0px 0px 0px; /* o r u l */ 
    background-color: rgb(122, 228, 52);
    color: red;
    font-size: 10px;
}
p {
    /* P Text    */
    font-size: 16px;
    /*  background-color: yellow; */
     /* color: #3f2929;*/
   /* margin-bottom: 1px; */
    margin: 0px 0px 0px 0px; /* o r u l */ 

}


.container {
    position: absolute; /* */
    width: 600px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}
