*{
    margin: 0;
    padding: 0;
    background: coral;  
    /* Seitenhintergrund  */
}

h1 {
    color: whitesmoke;
    /* H1 Überschrift  weiß  */
    font-size: 30px;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
     /* P Text    */
    color: #f7f7f7;
    margin-bottom: 8px;
}

.container {
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
