*{
    margin: 0;
    padding: 0;
    background: rgba(132, 125, 226, 0.747);  
    /* Seitenhintergrund  */
}

h1 {
    color: rgb(40, 235, 50);
    /* H1 Überschrift    */
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right:40px;
}

h2 {
    color: rgb(31, 19, 44);
    /* H2 Überschrift  weiß  */
    font-size: 30px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
     /* P Text    */
    color: #3f2929;
    margin-bottom: 1px;
}

.container {
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
